! Base colors
!*.foreground:  #E1E1E1
!*.background:  #0c0c0c
!*.cursorColor: #778899
!*.color0:  #0c0c0c
!*.color1:  #305D49
!*.color2:  #41705C
!*.color3:  #567F60
!*.color4:  #678F6D
!*.color5:  #829D72
!*.color6:  #9AB284
!*.color7:  #BFC594
!*.color8:  #225A49
!*.color9:  #305D49
!*.color10: #41705C
!*.color11: #567F60
!*.color12: #678F6D
!*.color13: #829D72
!*.color14: #9AB284
!*.color15: #BFC594


! special
*.foreground:   #d9d8d8
*.background:   #231f20
*.cursorColor:  #d9d8d8

! black
*.color0:       #231f20
*.color8:       #737171

! red
*.color1:       #ee2e24
*.color9:       #ee2e24

! green
*.color2:       #00853e
*.color10:      #00853e

! yellow
*.color3:       #ffd204
*.color11:      #ffd204

! blue
*.color4:       #009ddc
*.color12:      #009ddc

! magenta
*.color5:       #98005d
*.color13:      #98005d

! cyan
*.color6:       #85cebc
*.color14:      #85cebc

! white
*.color7:       #d9d8d8
*.color15:      #ffffff


! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: #141516
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 10
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
